input[type="checkbox"] {
    position: relative;
    width: 49px;
    height: 18px;
    -webkit-appearance: none;
    background-color: #dc3545; /*Cuando esta descheckeado o Inactivo cambie a color rojo*/
    /*background: #dc3545;*/
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, .2);
    transition: .5s;
}

input:checked[type="checkbox"] {
    background: #17a2b8; /*Cuando esta checkeado o activo cambie a color de celeste o de info en boostrap*/
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 19px;
    height: 18px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgb(0, 0, 0, .2);
    transition: .5s;
    
}

input:checked[type="checkbox"]:before {
    left: 30px;
    /* background: #dc3545; */
}