.estilo-archivo {
    font-size: 16px;
    background: white;
    border-radius: 50px;
    width: 420px;
    outline: none;
}

::-webkit-file-upload-button {
    color: white;
    background: #dee2e6;
    padding: 5px;
    border: none;
    border-radius: 50px;
    outline: none;
}