    /* .comentarios {
        color: #313437;
        background-color: #eef4f7;
    } */

    .comentarios p {
        color: #7d8285;
    }

    .comentarios h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
    }

    @media (max-width:767px) {
        .comentarios h2 {
            margin-bottom: 25px;
            padding-top: 25px;
            font-size: 24px;
        }
    }
/* 
    .comentarios .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto;
    } */

    /* .comentarios .intro p {
        margin-bottom: 0;
    } */

    /* .comentarios .people {
        padding: 50px 0 20px;
    } */

    .comentarios .item {
        margin-bottom: 32px;
    }

    @media (min-width:768px) {
        .comentarios .item {
            height: 220px;
        }
    }

    .comentarios .item .box {
        padding: 30px;
        background-color: rgb(251, 247, 247);
        position: relative;
    }

    .comentarios .item .box:after {
        content: '';
        position: absolute;
        left: 30px;
        bottom: -24px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-width: 12px 15px;
        border-top-color: rgb(251, 247, 247);
    }

    .comentarios .item .author {
        margin-top: 28px;
        padding-left: 25px;
    }

    .comentarios .item .name {
        font-weight: bold;
        margin-bottom: 2px;
        color: inherit;
    }

    .comentarios .item .title {
        font-size: 13px;
        color: #9da9ae;
    }

    .comentarios .item .description {
        font-size: 15px;
        margin-bottom: 0;
    }

    .comentarios .item img {
        max-width: 40px;
        float: left;
        margin-right: 12px;
        margin-top: -5px;
    }