/* body {
    margin: 0;
    background-color: #f0f2f5;
    font-family: Lato, sans-serif
} */

.progress {
    height: 6px;
    border-radius: 0
}

.progress .progress-bar {
    background-color: #23ab8e
}


.white-background {
    background-color: #fff
}

.iframe .content .votaciones {
    max-height: 358px;
    overflow: auto;
    position: relative
}

.iframe .content .votaciones:after {
    background: linear-gradient(180deg, rgba(23, 42, 76, 0), rgba(23, 42, 76, .1));
    bottom: 0;
    content: "";
    display: block;
    height: 45px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10
}

.votaciones-stats {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px 0
}

.votaciones-stats .votaciones-stats-percentage-container {
    align-items: center;
    color: #172a4c;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 19px
}

.votaciones-stats .votaciones-stats-percentage-container .votaciones-stats-percentage {
    color: #0f6f5a;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: right
}

.votaciones-stats .votaciones-stats-national-text {
    color: #5c6981;
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 12px
}

.votaciones-stats .progress {
    background-color: rgba(136, 153, 166, .3)
}

.votaciones-stats .votaciones-stats-info-text,
.votaciones-stats .votaciones-stats-last-update {
    color: #5c6981;
    font-size: 13px;
    line-height: 14px;
    text-align: center
}

.votaciones-stats .votaciones-stats-last-update {
    margin-bottom: 10px
}

.votaciones-stats .votaciones-stats-last-update-date {
    color: #172a4c
}

.votaciones-stats .votaciones-stats-info-text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0
}

.votaciones {
    background-color: #fff;
    padding: 35px 0
}

.votaciones [class^=col-] {
    background: linear-gradient(#dbe0e4, #dbe0e4) bottom/calc(100% - 30px) 1px no-repeat;
    margin-bottom: 36px;
    padding-bottom: 35px
}

.votacion .votacion-title {
    color: #172a4c;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 4px;
    padding: 0 80px;
    text-align: center;
    position: relative
}

.votacion .votacion-title:after {
    background-color: #368cf6;
    bottom: -16px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 50px
}

.votacion .candidatos-container {
    display: flex;
    justify-content: space-between
}

.votacion .candidatos-container .ganador-badge {
    border-radius: 2px;
    background-color: #05b879;
    display: none;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    line-height: 11px;
    padding: 3px 10px;
    position: absolute;
    top: -27px
}

.votacion .candidatos-container .fa-check {
    align-items: center;
    background-color: #18dc97;
    color: #fff;
    display: none;
    font-size: 9px;
    justify-content: center;
    border-radius: 50%;
    padding: 3px
}

.votacion .candidatos-container .candidato {
    display: flex;
    position: relative
}

.votacion .candidatos-container .candidato.candidato-ganador .ganador-badge {
    display: block
}

.votacion .candidatos-container .candidato.candidato-ganador .candidato-name {
    white-space: nowrap
}

.votacion .candidatos-container .candidato.candidato-ganador .fa-check {
    display: inline-flex
}

.votacion .candidatos-container .candidato.candidato-ganador .candidato-img {
    opacity: 1
}

.votacion .candidatos-container .candidato-left {
    text-align: left
}

.votacion .candidatos-container .candidato-left .ganador-badge {
    left: 0
}

.votacion .candidatos-container .candidato-left .candidato-percentage {
    color: #e55c5c
}

.votacion .candidatos-container .candidato-left .candidato-img,
.votacion .candidatos-container .candidato-left .candidato-name {
    margin-right: 12px
}

.votacion .candidatos-container .candidato-right {
    text-align: right
}

.votacion .candidatos-container .candidato-right .ganador-badge {
    right: 0
}

.votacion .candidatos-container .candidato-right .candidato-percentage {
    color: #69a5f0
}

.votacion .candidatos-container .candidato-right .candidato-img,
.votacion .candidatos-container .candidato-right .candidato-name {
    margin-left: 12px
}

.votacion .candidatos-container .candidato-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 17px
}

.votacion .candidatos-container .candidato-percentage {
    font-size: 22px;
    font-weight: 900;
    line-height: 27px;
    margin-bottom: 9px
}

.votacion .candidatos-container .candidato-votos {
    color: #172a4c;
    font-size: 12px;
    line-height: 15px
}

.votacion .candidatos-container .candidato-name {
    color: #172a4c;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px
}

.votacion .candidatos-container .candidato-img {
    filter: grayscale(1);
    height: 107px;
    opacity: .5;
    width: 80px
}

.votacion .progress {
    background-color: #69a5f0;
    height: 8px;
    margin-top: -8px;
    margin-bottom: 8px;
    position: relative;
    overflow: visible;
    z-index: 1
}

.votacion .progress:before {
    background-color: #368bf3;
    content: "";
    display: block;
    height: 8px;
    left: 50%;
    position: absolute;
    top: -8px;
    width: 1px
}

.votacion .progress.no-progress {
    background-color: rgba(20, 57, 88, .2)
}

.votacion .progress .progress-bar {
    background-color: #e55c5c
}

.votacion .votacion-stats {
    margin: 0 auto
}

.votacion .votacion-stats .votacion-stat {
    text-align: center
}

.votacion .votacion-stats .votacion-stat-name,
.votacion .votacion-stats .votacion-stat-value {
    font-size: 13px;
    line-height: 15px;
    text-align: center
}

.votacion .votacion-stats .votacion-stat-name {
    color: #5c6981;
    margin-bottom: 4px
}

.votacion .votacion-stats .votacion-stat-value {
    color: #172a4c;
    font-weight: 700;
    margin-bottom: 0
}

@media(min-width:768px) {
    .content {
        margin-top: -39px
    }

    .iframe .content {
        margin-bottom: 0;
        margin-top: 0
    }

    .iframe .content .votaciones-stats {
        padding-top: 27px
    }

    .iframe .content .votaciones {
        max-height: 336px;
        overflow: auto;
        padding: 20px 0
    }

    .iframe .content .votaciones [class^=col-] {
        padding-bottom: 20px
    }

    .iframe .content .votaciones [class^=col-] .votacion.votacion-big .votacion-stats {
        margin-top: -20px
    }

    .votaciones-stats,
    .votaciones {
        max-width: 902px
    }

    .votaciones-stats {
        padding-top: 38px
    }

    .votaciones-stats .progress,
    .votaciones-stats .votaciones-stats-national-text,
    .votaciones-stats .votaciones-stats-percentage-container {
        max-width: 320px
    }

    .votaciones-stats .votaciones-stats-percentage-container {
        margin-bottom: 5px
    }

    .votaciones-stats .votaciones-stats-national-text {
        margin-bottom: 9px
    }

    .votaciones-stats .votaciones-stats-info {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .votaciones-stats .votaciones-stats-info-text,
    .votaciones-stats .votaciones-stats-last-update {
        text-align: right
    }

    .votacion-stats {
        max-width: 390px
    }

    .votacion.votacion-big .votacion-title {
        font-size: 20px;
        line-height: 24px
    }

    .votacion.votacion-big .candidato.candidato-left .candidato-img {
        margin-right: 20px
    }

    .votacion.votacion-big .candidato.candidato-left .candidato-percentage {
        margin-right: 30px
    }

    .votacion.votacion-big .candidato.candidato-left .ganador-badge {
        left: 134px
    }

    .votacion.votacion-big .candidato.candidato-right .candidato-img {
        margin-left: 20px
    }

    .votacion.votacion-big .candidato.candidato-right .candidato-percentage {
        margin-left: 30px;
        order: 1
    }

    .votacion.votacion-big .candidato.candidato-right .ganador-badge {
        right: 134px
    }

    .votacion.votacion-big .candidato .ganador-badge {
        font-size: 12px;
        line-height: 15px;
        padding: 4px 21px;
        top: 10px
    }

    .votacion.votacion-big .candidato .candidato-img {
        height: 139px;
        width: 114px
    }

    .votacion.votacion-big .candidato .candidato-stats {
        align-items: flex-end;
        flex-direction: row;
        margin-bottom: 34px
    }

    .votacion.votacion-big .candidato .candidato-percentage {
        font-size: 26px;
        margin-bottom: 0
    }

    .votacion.votacion-big .candidato .candidato-votos {
        font-size: 14px;
        line-height: 17px
    }

    .votacion.votacion-big .candidato .candidato-name {
        font-size: 18px;
        line-height: 22px
    }

    .votacion.votacion-big .candidato .fa-check {
        font-size: 15px;
        padding: 5px
    }

    .votacion.votacion-big .progress {
        height: 14px;
        margin-top: -14px
    }

    .votacion .progress:before {
        height: 10px;
        top: -10px
    }

    .votacion .votacion-title {
        font-size: 16px;
        line-height: 19px
    }

    .votacion .candidatos-container .candidato-percentage {
        font-size: 24px;
        line-height: 29px
    }

    .votacion .candidatos-container .candidato-votos {
        font-size: 14px;
        line-height: 17px
    }

    .votacion .candidatos-container .candidato-name {
        font-size: 15px;
        line-height: 15px
    }
}