Options +FollowSymLinks

RewriteEngine on

RewriteRule ^([a-z]{2,2})/([a-zA-Z0-9_-]+)$ index.php?pg=$1

ErrorDocument 100 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1
ErrorDocument 301 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1
ErrorDocument 302 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1
ErrorDocument 400 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1
ErrorDocument 401 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1
ErrorDocument 402 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1
ErrorDocument 403 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1
ErrorDocument 404 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1
ErrorDocument 500 http://%{HTTP_HOST}/%{REQUEST_URI}/../?pg=1

# Ya que el * me genera error antes del signo usado por get ? 
# y por motivo de que el ErrorDocument 403 no lo toma en el htaccess
# tuve que ir al archivo httpd.config del apache ubicado en xampp/apache/conf/httpd.config
# y agregue el siguiente comando ErrorDocument 403 http://%{HTTP_HOST}/%{REQUEST_URI}/../../
# lo que hace es redireccionar a la misma página o bien se puede redireccionar
# a una carpeta en especifico como  ErrorDocument 403 http://%{HTTP_HOST}/%{REQUEST_URI}/../../error/